html, body {
  margin: 0;
  background-color: black;
  padding: 0;
  
  overflow: hidden; /* Prevent scrollbars */
}
canvas {
  display: block;
}

#search-bar {
  display: none; /* Hide the search bar */
}
